In [3]:
    import pandas as pd

animals = ['Tigers', 'Bears', 'Moose']
p = pd.Series(animals) # 자동적으로 각 데이터 인덱싱
print(p)

0    Tigers
1     Bears
2     Moose
dtype: object

In [5]:
numbers = [1,2,3]
nums =pd.Series(numbers)
print(nums)

0    1
1    2
2    3
dtype: int64

In [7]:
animals = ['Tigers', 'Bears', None]
p =pd.Series(animals)
print(p)

0    Tigers
1     Bears
2      None
dtype: object

In [8]:
import numpy as np

In [10]:
print(np.nan == None) # None과 NaN은 다름

print(np.nan == np.nan) # NaN 끼리 비교 X 

print(np.isnan(np.nan))

False
False
True

In [17]:
samsung = {
    'SDS' : 'IT',
    'Electronic' : 'IT',
    'Display' : 'Hardware'
}
s = pd.Series(samsung)

print(s)
print(s.index)

s = pd.Series(['Tiger', 'Bear', 'Moose'], index = ['India', 'America', 'Canada'])
print(s)

m = pd.Series(['SDS', 'Electronic', 'Display'], index=['Software', 'Software+Hardware', 'Hardware'])
print(m)

sports = {
    'Archery' : 'Bhutan',
    'Golf' : 'Scotland',
    'Sumo' : 'Japan',
    'Taekwondo' : 'South Korea'
}

s = pd.Series(sports, index = ['Golf', 'Sumo', 'Hockey']) # 인덱스 선택 데이터 추출
print(s)

SDS                 IT
Electronic          IT
Display       Hardware
dtype: object
Index(['SDS', 'Electronic', 'Display'], dtype='object')
India      Tiger
America     Bear
Canada     Moose
dtype: object
Software                    SDS
Software+Hardware    Electronic
Hardware                Display
dtype: object
Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

In [29]:
s = pd.Series(sports)
print(s)

game = {
    'Battle' : 'FPS',
    'Overwatch' : 'FPS',
    'LOL' : 'AOS',
    'Lineage' : 'RPG'
}

print('')
m = pd.Series(game)
print(m)

print('')
print(m.iloc[2])
print(m.loc['LOL'])
print(m[3])
print(m['Overwatch'])
print(m.iloc[0])

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

Battle       FPS
Overwatch    FPS
LOL          AOS
Lineage      RPG
dtype: object

AOS
AOS
RPG
FPS
FPS

In [36]:
sports = {
    99 : 'Bhutan',
    100 : 'Scotland',
    101 : 'Japan',
    102 : 'South Korea'
}

s = pd.Series(sports)
print(s)

print('')
s = pd.Series([100.00, 120.00, 101.00, 3.00])
print(s)

total = 0
for item in s:
    total += item
print(total)

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64
324.0

In [38]:
from functools import reduce # reduce를 이용한 데이터 총합

In [40]:
tot = reduce(lambda x,y: x+y, s.values)
print(tot)

324.0

In [42]:
total = np.sum(s) # numpy 이용 데이터 총합
print(total)

324.0

In [48]:
s = pd.Series(np.random.randint(0, 1000, 10000))
print(s.head())
print(len(s))


a = pd.Series(np.random.randint(0,10000,40))
print(a.head(10))
print(len(a))

0    681
1    295
2    392
3    542
4    754
dtype: int32
10000
0    1555
1    2762
2    5521
3    4152
4     209
5     840
6    6381
7    4216
8    4321
9    8967
dtype: int32
40

In [50]:
import timeit # ipython의 magic function의 %%timeit을 python 인터프리터에서도 사용하는 방법

In [77]:
def example():
    s = pd.Series(np.random.randint(0,1000,10000))
    summary = 0
    for item in s:
        summary += item
    return summary
mycode = example()
print(mycode)

5048994

In [78]:
print(timeit.timeit(stmt = str(mycode), number = 10000000))

0.21097119999999947

In [68]:
s += 2
print(s.head())

0    685
1    299
2    396
3    546
4    758
dtype: int32

In [70]:
for label, value in s.iteritems():
    s.set_value(label, value+2)

print(s.head())

0    689
1    303
2    400
3    550
4    762
dtype: int32

C:\Users\pulum\AppData\Local\conda\conda\envs\TF_VS_35\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [80]:
s = pd.Series([1,2,3])
s.loc['Animal'] = 'Bears'
print(s)

0             1
1             2
2             3
Animal    Bears
dtype: object

In [110]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
print(original_sports)
print('')

cricket_loving_countries = pd.Series(['Australia',      # 시리즈 자료구조는 딕셔너리와 다르게 index값의 중복이 허용된다.
                                      'Barbados',       # 왜냐하면 인덱스의 숫서로 값을 구분하기 때문이다.
                                      'Pakistan',
                                      'England'],
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
print(cricket_loving_countries)
print('')

all_countries = original_sports.append(cricket_loving_countries)
print(all_countries)

print('')
print(all_countries.loc['Cricket'])

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [104]:
purchase_1 = pd.Series({
    'Name' : 'Chris',
    'Item Purchased' : 'Dog Food',
    'Cost' : 22.50
})

purchase_2 = pd.Series({
    'Name' : 'Kevyn',
    'Item Purchased' : 'Kitty Litter',
    'Cost' : 2.50
})

purchase_3 = pd.Series({
    'Name' : 'Vinod',
    'Item Purchased' : 'Bird Seed',
    'Cost' : 5.00
})

purchase_4 = pd.Series({
    'Name' : 'Daniel',
    'Item Purchased' : 'Power Drink',
    'Cost' : 9.42
})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3, purchase_4], index = ['Store 1', 'Store 1', 'Store 2', 'Store 3'])
h = df.head()
print(h)

print(df.loc['Store 2'])

type(df.loc['Store 2'])

print(df.loc['Store 1', 'Cost'])

T = df.T # transpose
print(T)

print(df.loc[:, ['Name', 'Cost']]) # 모든 행, Name과 Cost 열

print(df.loc[['Store 1', 'Store 2'], ['Item Purchased', 'Cost']])

drop_df = df.drop('Store 1')
print(drop_df)

print(df)

copy_df = df.copy()
copy_df = copy_df.copy('Store 1')
print(copy_df)

del copy_df['Name']
print(copy_df)

df['Location'] = None
df['Sale'] = [True, False, True, True]
print(df)

costs = df['Cost']
print(costs)

costs += 2
print(costs)

           Name Item Purchased   Cost
Store 1   Chris       Dog Food  22.50
Store 1   Kevyn   Kitty Litter   2.50
Store 2   Vinod      Bird Seed   5.00
Store 3  Daniel    Power Drink   9.42
Name                  Vinod
Item Purchased    Bird Seed
Cost                      5
Name: Store 2, dtype: object
Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64
                 Store 1       Store 1    Store 2      Store 3
Name               Chris         Kevyn      Vinod       Daniel
Item Purchased  Dog Food  Kitty Litter  Bird Seed  Power Drink
Cost                22.5           2.5          5         9.42
           Name   Cost
Store 1   Chris  22.50
Store 1   Kevyn   2.50
Store 2   Vinod   5.00
Store 3  Daniel   9.42
        Item Purchased  Cost
Store 1       Dog Food  22.5
Store 1   Kitty Litter   2.5
Store 2      Bird Seed   5.0
           Name Item Purchased  Cost
Store 2   Vinod      Bird Seed  5.00
Store 3  Daniel    Power Drink  9.42
           Name Item Purchased   Cost
Store 1   Chris       Dog Food  22.50
Store 1   Kevyn   Kitty Litter   2.50
Store 2   Vinod      Bird Seed   5.00
Store 3  Daniel    Power Drink   9.42
           Name Item Purchased   Cost
Store 1   Chris       Dog Food  22.50
Store 1   Kevyn   Kitty Litter   2.50
Store 2   Vinod      Bird Seed   5.00
Store 3  Daniel    Power Drink   9.42
        Item Purchased   Cost
Store 1       Dog Food  22.50
Store 1   Kitty Litter   2.50
Store 2      Bird Seed   5.00
Store 3    Power Drink   9.42
           Name Item Purchased   Cost Location   Sale
Store 1   Chris       Dog Food  22.50     None   True
Store 1   Kevyn   Kitty Litter   2.50     None  False
Store 2   Vinod      Bird Seed   5.00     None   True
Store 3  Daniel    Power Drink   9.42     None   True
Store 1    22.50
Store 1     2.50
Store 2     5.00
Store 3     9.42
Name: Cost, dtype: float64
Store 1    24.50
Store 1     4.50
Store 2     7.00
Store 3    11.42
Name: Cost, dtype: float64

In [116]:
df = pd.read_csv('olympics.csv')
print(df.head())

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1) # 잘못 로드된 데이터를 제대로 불려들임
                                                          # index_col은 인덱스의 위치를 컬럼의 인덱스로 나타냄
                                                          # skiprows는 컬럼명을 맞추기 위해 얼마만큼의 행을 건너뛸지를 나타냄
print(df.head())

for col in df.columns:
    if col[:2] == '01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    elif col[:2] == '02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    elif col[:2] == '03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    elif col[:1] == '№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)
print(df.columns)

print(df['Gold'] > 0)

only_gold = df.where(df['Gold'] > 5)
print(only_gold.head())

print(only_gold['Gold'].count())
only_gold = only_gold.dropna()
print(only_gold.head())

only_gold = df[df['Gold'] > 0]
print(only_gold.head())

gold_and_gold1 = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
print(gold_and_gold1.head())

df['country'] = df.index
df = df.set_index('Silver')
print(df.head())

df = df.sort_index() # 인덱스 정렬
print(df.head())

                   0         1     2     3     4      5         6     7     8  \
0                NaN  № Summer  01 !  02 !  03 !  Total  № Winter  01 !  02 !
1  Afghanistan (AFG)        13     0     0     2      2         0     0     0
2      Algeria (ALG)        12     5     2     8     15         3     0     0
3    Argentina (ARG)        23    18    24    28     70        18     0     0
4      Armenia (ARM)         5     1     2     9     12         6     0     0

      9     10       11    12    13    14              15
0  03 !  Total  № Games  01 !  02 !  03 !  Combined total
1     0      0       13     0     0     2               2
2     0      0       15     5     2     8              15
3     0      0       41    18    24    28              70
4     0      0       11     1     2     9              12
                         № Summer  01 !  02 !  03 !  Total  № Winter  01 !.1  \
Afghanistan (AFG)              13     0     0     2      2         0       0
Algeria (ALG)                  12     5     2     8     15         3       0
Argentina (ARG)                23    18    24    28     70        18       0
Armenia (ARM)                   5     1     2     9     12         6       0
Australasia (ANZ) [ANZ]         2     3     4     5     12         0       0

                         02 !.1  03 !.1  Total.1  № Games  01 !.2  02 !.2  \
Afghanistan (AFG)             0       0        0       13       0       0
Algeria (ALG)                 0       0        0       15       5       2
Argentina (ARG)               0       0        0       41      18      24
Armenia (ARM)                 0       0        0       11       1       2
Australasia (ANZ) [ANZ]       0       0        0        2       3       4

                         03 !.2  Combined total
Afghanistan (AFG)             2               2
Algeria (ALG)                 8              15
Argentina (ARG)              28              70
Armenia (ARM)                 9              12
Australasia (ANZ) [ANZ]       5              12
Index(['# Summer', 'Gold', 'Silver', 'Bronze', 'Total', '# Winter', 'Gold.1',
       'Silver.1', 'Bronze.1', 'Total.1', '# Games', 'Gold.2', 'Silver.2',
       'Bronze.2', 'Combined total'],
      dtype='object')
Afghanistan (AFG)                               False
Algeria (ALG)                                    True
Argentina (ARG)                                  True
Armenia (ARM)                                    True
Australasia (ANZ) [ANZ]                          True
Australia (AUS) [AUS] [Z]                        True
Austria (AUT)                                    True
Azerbaijan (AZE)                                 True
Bahamas (BAH)                                    True
Bahrain (BRN)                                   False
Barbados (BAR) [BAR]                            False
Belarus (BLR)                                    True
Belgium (BEL)                                    True
Bermuda (BER)                                   False
Bohemia (BOH) [BOH] [Z]                         False
Botswana (BOT)                                  False
Brazil (BRA)                                     True
British West Indies (BWI) [BWI]                 False
Bulgaria (BUL) [H]                               True
Burundi (BDI)                                    True
Cameroon (CMR)                                   True
Canada (CAN)                                     True
Chile (CHI) [I]                                  True
China (CHN) [CHN]                                True
Colombia (COL)                                   True
Costa Rica (CRC)                                 True
Ivory Coast (CIV) [CIV]                         False
Croatia (CRO)                                    True
Cuba (CUB) [Z]                                   True
Cyprus (CYP)                                    False
                                                ...
Sri Lanka (SRI) [SRI]                           False
Sudan (SUD)                                     False
Suriname (SUR) [E]                               True
Sweden (SWE) [Z]                                 True
Switzerland (SUI)                                True
Syria (SYR)                                      True
Chinese Taipei (TPE) [TPE] [TPE2]                True
Tajikistan (TJK)                                False
Tanzania (TAN) [TAN]                            False
Thailand (THA)                                   True
Togo (TOG)                                      False
Tonga (TGA)                                     False
Trinidad and Tobago (TRI) [TRI]                  True
Tunisia (TUN)                                    True
Turkey (TUR)                                     True
Uganda (UGA)                                     True
Ukraine (UKR)                                    True
United Arab Emirates (UAE)                       True
United States (USA) [P] [Q] [R] [Z]              True
Uruguay (URU)                                    True
Uzbekistan (UZB)                                 True
Venezuela (VEN)                                  True
Vietnam (VIE)                                   False
Virgin Islands (ISV)                            False
Yugoslavia (YUG) [YUG]                           True
Independent Olympic Participants (IOP) [IOP]    False
Zambia (ZAM) [ZAM]                              False
Zimbabwe (ZIM) [ZIM]                             True
Mixed team (ZZX) [ZZX]                           True
Totals                                           True
Name: Gold, Length: 147, dtype: bool
                         # Summer  Gold  Silver  Bronze  Total  # Winter  \
Afghanistan (AFG)             NaN   NaN     NaN     NaN    NaN       NaN
Algeria (ALG)                 NaN   NaN     NaN     NaN    NaN       NaN
Argentina (ARG)              23.0  18.0    24.0    28.0   70.0      18.0
Armenia (ARM)                 NaN   NaN     NaN     NaN    NaN       NaN
Australasia (ANZ) [ANZ]       NaN   NaN     NaN     NaN    NaN       NaN

                         Gold.1  Silver.1  Bronze.1  Total.1  # Games  Gold.2  \
Afghanistan (AFG)           NaN       NaN       NaN      NaN      NaN     NaN
Algeria (ALG)               NaN       NaN       NaN      NaN      NaN     NaN
Argentina (ARG)             0.0       0.0       0.0      0.0     41.0    18.0
Armenia (ARM)               NaN       NaN       NaN      NaN      NaN     NaN
Australasia (ANZ) [ANZ]     NaN       NaN       NaN      NaN      NaN     NaN

                         Silver.2  Bronze.2  Combined total
Afghanistan (AFG)             NaN       NaN             NaN
Algeria (ALG)                 NaN       NaN             NaN
Argentina (ARG)              24.0      28.0            70.0
Armenia (ARM)                 NaN       NaN             NaN
Australasia (ANZ) [ANZ]       NaN       NaN             NaN
62
                           # Summer   Gold  Silver  Bronze  Total  # Winter  \
Argentina (ARG)                23.0   18.0    24.0    28.0   70.0      18.0
Australia (AUS) [AUS] [Z]      25.0  139.0   152.0   177.0  468.0      18.0
Austria (AUT)                  26.0   18.0    33.0    35.0   86.0      22.0
Azerbaijan (AZE)                5.0    6.0     5.0    15.0   26.0       5.0
Belarus (BLR)                   5.0   12.0    24.0    39.0   75.0       6.0

                           Gold.1  Silver.1  Bronze.1  Total.1  # Games  \
Argentina (ARG)               0.0       0.0       0.0      0.0     41.0
Australia (AUS) [AUS] [Z]     5.0       3.0       4.0     12.0     43.0
Austria (AUT)                59.0      78.0      81.0    218.0     48.0
Azerbaijan (AZE)              0.0       0.0       0.0      0.0     10.0
Belarus (BLR)                 6.0       4.0       5.0     15.0     11.0

                           Gold.2  Silver.2  Bronze.2  Combined total
Argentina (ARG)              18.0      24.0      28.0            70.0
Australia (AUS) [AUS] [Z]   144.0     155.0     181.0           480.0
Austria (AUT)                77.0     111.0     116.0           304.0
Azerbaijan (AZE)              6.0       5.0      15.0            26.0
Belarus (BLR)                18.0      28.0      44.0            90.0
                           # Summer  Gold  Silver  Bronze  Total  # Winter  \
Algeria (ALG)                    12     5       2       8     15         3
Argentina (ARG)                  23    18      24      28     70        18
Armenia (ARM)                     5     1       2       9     12         6
Australasia (ANZ) [ANZ]           2     3       4       5     12         0
Australia (AUS) [AUS] [Z]        25   139     152     177    468        18

                           Gold.1  Silver.1  Bronze.1  Total.1  # Games  \
Algeria (ALG)                   0         0         0        0       15
Argentina (ARG)                 0         0         0        0       41
Armenia (ARM)                   0         0         0        0       11
Australasia (ANZ) [ANZ]         0         0         0        0        2
Australia (AUS) [AUS] [Z]       5         3         4       12       43

                           Gold.2  Silver.2  Bronze.2  Combined total
Algeria (ALG)                   5         2         8              15
Argentina (ARG)                18        24        28              70
Armenia (ARM)                   1         2         9              12
Australasia (ANZ) [ANZ]         3         4         5              12
Australia (AUS) [AUS] [Z]     144       155       181             480
                           # Summer  Gold  Silver  Bronze  Total  # Winter  \
Australia (AUS) [AUS] [Z]        25   139     152     177    468        18
Austria (AUT)                    26    18      33      35     86        22
Belarus (BLR)                     5    12      24      39     75         6
Belgium (BEL)                    25    37      52      53    142        20
Bulgaria (BUL) [H]               19    51      85      78    214        19

                           Gold.1  Silver.1  Bronze.1  Total.1  # Games  \
Australia (AUS) [AUS] [Z]       5         3         4       12       43
Austria (AUT)                  59        78        81      218       48
Belarus (BLR)                   6         4         5       15       11
Belgium (BEL)                   1         1         3        5       45
Bulgaria (BUL) [H]              1         2         3        6       38

                           Gold.2  Silver.2  Bronze.2  Combined total
Australia (AUS) [AUS] [Z]     144       155       181             480
Austria (AUT)                  77       111       116             304
Belarus (BLR)                  18        28        44              90
Belgium (BEL)                  38        53        56             147
Bulgaria (BUL) [H]             52        87        81             220
        # Summer  Gold  Bronze  Total  # Winter  Gold.1  Silver.1  Bronze.1  \
Silver
0             13     0       2      2         0       0         0         0
2             12     5       8     15         3       0         0         0
24            23    18      28     70        18       0         0         0
2              5     1       9     12         6       0         0         0
4              2     3       5     12         0       0         0         0

        Total.1  # Games  Gold.2  Silver.2  Bronze.2  Combined total  \
Silver
0             0       13       0         0         2               2
2             0       15       5         2         8              15
24            0       41      18        24        28              70
2             0       11       1         2         9              12
4             0        2       3         4         5              12

                        country
Silver
0             Afghanistan (AFG)
2                 Algeria (ALG)
24              Argentina (ARG)
2                 Armenia (ARM)
4       Australasia (ANZ) [ANZ]
        # Summer  Gold  Bronze  Total  # Winter  Gold.1  Silver.1  Bronze.1  \
Silver
0             13     0       2      2         0       0         0         0
0              7     0       1      1         0       0         0         0
0             11     1       1      2         0       0         0         0
0              8     1       0      1         0       0         0         0
0             16     0       1      1         0       0         0         0

        Total.1  # Games  Gold.2  Silver.2  Bronze.2  Combined total  \
Silver
0             0       13       0         0         2               2
0             0        7       0         0         1               1
0             0       11       1         0         1               2
0             0        8       1         0         0               1
0             0       16       0         0         1               1

                   country
Silver
0        Afghanistan (AFG)
0       Djibouti (DJI) [B]
0       Suriname (SUR) [E]
0            Grenada (GRN)
0       Guyana (GUY) [GUY]

# Refered by https://engkimbs.tistory.com/