In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame([
    {'Name' : 'Chris', 'Item Purchased' : 'Sponge', 'Cost' : 22.50},
    {'Name' : 'Kelvin', 'Item Purchased' : 'Kitty Litter', 'Cost' : 2.50},
    {'Name' : 'Filip', 'Item Purchased' : 'Spoon', 'Cost' : 5.00}],
    index = ['Store 1', 'Store 1', 'Store 2'])


df['Date'] = ['Decemeber 1', 'January 1', 'mid-May']
df['Delivered'] = True
df['Feedback'] = ['Positive', None, 'Negative']
print(df)

adf = df.reset_index() # 인덱스 재설정 0~N까지
adf['Date'] = pd.Series({0:'Decemeber', 2:'mid-May'})
print(adf)

         Cost Item Purchased    Name         Date  Delivered  Feedback
Store 1  22.5         Sponge   Chris  Decemeber 1       True  Positive
Store 1   2.5   Kitty Litter  Kelvin    January 1       True      None
Store 2   5.0          Spoon   Filip      mid-May       True  Negative
     index  Cost Item Purchased    Name       Date  Delivered  Feedback
0  Store 1  22.5         Sponge   Chris  Decemeber       True  Positive
1  Store 1   2.5   Kitty Litter  Kelvin        NaN       True      None
2  Store 2   5.0          Spoon   Filip    mid-May       True  Negative

In [11]:
staff_df = pd.DataFrame([
    {'Name' : 'Kelly', 'Role' : 'Director of HR'},
    {'Name' : 'Sally', 'Role' : 'Course liasion'},
    {'Name' : 'James', 'Role' : 'Grader'}    
])

print(staff_df)

staff_df = staff_df.set_index('Name') # Name 컬럼을 인덱스로
print(staff_df)

    Name            Role
0  Kelly  Director of HR
1  Sally  Course liasion
2  James          Grader
                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

In [14]:
student_df = pd.DataFrame([
    {'Name' : 'James', 'School' : 'Business'},
    {'Name' : 'Mike', 'School' : 'Law'},
    {'Name' : 'Sally', 'School' : 'Engineering'},
])

print(student_df)
student_df = student_df.set_index('Name')
print(student_df)

    Name       School
0  James     Business
1   Mike          Law
2  Sally  Engineering
            School
Name
James     Business
Mike           Law
Sally  Engineering

In [16]:
# staff_df 와 student_df를 인덱스(Name)을 기준으로 outer_join
outer_join = pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)
print(outer_join)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

In [18]:
# staff_df 와 student_df를 인덱스를 기준으로 inner_join
inner_join = pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True)
print(inner_join)

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

In [19]:
# staff_df 와 student_df를 기준으로 left_join
left_join = pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)
print(left_join)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

In [20]:
# staff_df 와 student_df를 인덱스를 기준으로 right_join
right_join = pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)
print(right_join)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

In [23]:
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()
print(staff_df)
print(student_df)

# Name 컬림 기준 left 조인
left_join2 = pd.merge(staff_df, student_df, how='left', left_on='Name', right_on='Name')
print(left_join2)

   level_0  index   Name            Role
0        0      0  Kelly  Director of HR
1        1      1  Sally  Course liasion
2        2      2  James          Grader
   level_0  index   Name       School
0        0      0  James     Business
1        1      1   Mike          Law
2        2      2  Sally  Engineering
   level_0_x  index_x   Name            Role  level_0_y  index_y       School
0          0        0  Kelly  Director of HR        NaN      NaN          NaN
1          1        1  Sally  Course liasion        2.0      2.0  Engineering
2          2        2  James          Grader        0.0      0.0     Business

In [26]:
staff_df = pd.DataFrame([
    {'First Name': 'Kelly', 'Last Name': 'Desjardins', 'Role': 'Director of HR'},
    {'First Name': 'Sally', 'Last Name': 'Brooks', 'Role': 'Course liasion'},
    {'First Name': 'James', 'Last Name': 'Wilde', 'Role': 'Grader'}
])

student_df = pd.DataFrame([
    {'First Name': 'James', 'Last Name': 'Hammond', 'School': 'Business'},
    {'First Name': 'Mike', 'Last Name': 'Smith', 'School': 'Law'},
    {'First Name': 'Sally', 'Last Name': 'Brooks', 'School': 'Engineering'}
])

# 복슈의 컬럼을 기준으로 join
multiple_join = pd.merge(staff_df, student_df, how='inner', left_on=['First Name','Last Name'], right_on=['First Name','Last Name'])

print(multiple_join)

  First Name Last Name            Role       School
0      Sally    Brooks  Course liasion  Engineering

In [ ]:
# Refered by https://engkimbs.tistory.com/